body {
  margin-top: 100px;
  margin-left: 287px;
}

/* Define styles for generic sections */
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #149ddd;
  a {
    text-decoration: none;
  }
  
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
  a {
    text-decoration: none;
  }
  
}

.section-title p {
  margin-bottom: 0;
}

/* portfolio.component.css */

.portfolio {
  padding: 60px 0;
  overflow: hidden;
  background-color: #f7fcfc;
}

.portfolio .section-title {
  text-align: center;
  padding-bottom: 30px;
}

.portfolio .section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  
}

.portfolio .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);  
}

.portfolio .section-title p {
  margin-bottom: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 20px;
  text-align: center;
}

.portfolio .portfolio-img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #3fbbc0;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.portfolio .portfolio-img img {
  max-width: 100%;
  max-height: 100%;
}

.portfolio .portfolio-description {
  font-weight: 400;
  margin-top: 10px; /* Increase the top margin to create space between the image and description */
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.portfolio .portfolio-description h3 {
  color: #3fbbc0;
  transition: 0.3s;
}

.portfolio .portfolio-description h3:hover, h3:focus, h3:active{
  color: #3fbbc0;
}
.portfolio .portfolio-description h3 a {
  color: #3fbbc0;
  font-size: bold;
}

.portfolio .portfolio-description::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

.portfolio .portfolio-description p {
  line-height: 24px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 25px;
  }
}
