<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Me</title>
  </head>

  <body>
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>About Me</h2>
            <p>
              I'm a passionate Full Stack Software Engineer with a love for
              technology and coding.
            </p>

            <a class="cta-btn" href="/contact">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img
              src="assets/images/Thabiso.jpg"
              class="img-fluid"
              alt="Thabiso Matsaba"
            />
          </div>
          <div class="col-lg-5 content">
            <h2>Thabiso Patrick Matsaba</h2>
            <p class="fst-italic py-3">
              I am a dedicated software developer with experience in various
              technologies and a strong passion for coding and problem-solving.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li>
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcFJREFUSEu11U2oTlEUBuDnIkVKpKRkYGJiICITSiKRGKtrIgMDAyYGokQyUkphKJkj8jPwO7gpPxMKAxFlhIHuRQktraN7j32+c246u77Jt9d+3/Wu9a51hvR8hnrGN1mCX5lQ53edAxO4F4Kt2IINWJxEr3ELV3FtUJkHKZiDCwk+CCMIhvG5FNREMA+PsQjfcQ6nEJnHCSX7sRvT8QbLSyRNBNexCe+wES8aJCzNUi3AFWyrx5UIVmMEP7AKT7ECh5IsMKL+R1PlWtxL4FAR8X9PieAIDuM09ib4A8yoZfcVa5LkInZkEsfaCB4laMh/jksl6QlyGduxDrfxEFGBooLK49XlVPzEWCH7KiZUzMRcfKwp/FOd8SWqE8zCaEeCiP3SRlDdVyWKxj7pWKLKGPF2ZVsPTuAAzmJPxyafx04cx8E2glgJYcOuNg0n3U/QaPbdNoIpGRQP36b3XzUM2jLcwHzcwXpM6GXTJC/EM8zGN5zBSbxPoiXYh12Yhk8IW3/oMslVTOybGKAJvi4oiSGMZRdq/zlt34O435y/2E3Vun6Zfbr5P+u6lFAvH5zxRL0TNJip+e+2HkwasP7gN5nfXxmJ3bi8AAAAAElFTkSuQmCC"
                    />
                    <span> 41578 Ndyondyo Street, Makhaza Khayelitsha</span>
                  </li>
                  <li>
                    <img
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAd1JREFUSEvN1c+LTXEYx/HXmJL8KAtCUiaEEOPHQmEWlCQWlJXf8Q8oK1ZqVtixErEQi0kWFnYiSWKaiIj8KKIslGKB0KPn1pnjnsk5tynfuov7Pfd+3t/v8zyfz+kyyqtrlPVVAabjGn5hCz40PUg7wFTcwdwUfYG1TSFlQIjfwgK8TsBsPMe6JpAyIMqyGW+wJkt0E3MQNwnI+zrlKgN+oBuz8DaFoh838lZD6O0E8BmTMBFf2gDuY1UngEdYnJ/HKTSYp45n6/GxE8A57MNeXEihGNFpWI27dcTjt+Ue7MdZXMTOFDuPPTiBw50CYkzjxN8xA5+wAlH7b1iKp3Ug7Yw2gO3ox9EUO4MDOb47cC/340DXC47/a4TbAZbgYZ54JaK541N0UQpfwXGcxvLcCzP2lX1SlUUncSjdHIZ7l5BTOQTFKr3KLz3p+GGQKsC4jIyY+ZfYitbYLsvSbcMzbEhAmHFeGTJSXE/BbcxP0x3EpREaXHT8A0R5K+O6pTMZV7O2sXc5R7UVI0VeNDxyayH+GRACY1L0GMbiZ5Yrpi2SN1L3a4pHCg8LxTpvtJk4gt2YUFGqaHi8O2Io/qw6gNZ/4habsCuzKcoY6wk2FlK4MaCOkRvd4P8C/Aa9EWMZMtyNWQAAAABJRU5ErkJggg=="
                    />
                    <strong>Phone: </strong>
                    <span> 0836865724</span>
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASNJREFUSEvt1UErBWEUxvHf3bOglJSdUnwJS1lLFlKKIgtlbXnLTlmIopQsJGtZ+hKUtZJSLNjT0YymMXPnXtNsbs7yzDnPc87/fXunpeFoNayvvwzm0cZkTWwP2MFV6GQR3WGqpnjafo/pvMFn8vUQG380yvZ+D5/dIDWI3CxOMdql0TNWcIOsTqHBID4whCMsVJhcYh1vGMB7Ul+6wSOWcZsULuIAwzmjV2ziIsnP4AzjVQapzgm2k4kCVSALdBGBIpAEmth4D6u5AUo3yNY9YQ3XSTJQRAS6iDkcY6wAY1cGad85thBYIgLXPpY6nE9PBqHzksEQ+EYqDr9ngy5v7E/Zv0ElsV+IGn/s4rnexUTlbJ0LSp/rmrrF7f31y2wE0RedUDYZOIKA5gAAAABJRU5ErkJggg=="/>                    <strong>Email: </strong>
                    <span> thabisomatsaba96@gmail.com</span>
                    <a href="mailto:thabisomatsaba96@gmail.com"
                    ></a>
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAaxJREFUSEu11TtIV2EYx/GPUwpG4BQ2mBAIgUVzRC1Cl6nCQYgmkVokEZq60uwQQRCNgYNENBRB0BBCLQ5uqaXk4Cw0GXbjiXPo8HJumv93OZxznuf5nuf2O106fLo6HF8TYB8u4yyO4zB+4ysW8QYvsF31oXWAc3icBa1L9Auu4V2ZURXgHu7uoHy/cBMzqU8Z4D7u7CB40fQGHhYfpIALeFUTPLePPpSdyOQUPuQvi4BefMbB/wCE6zKG88YXAdezptZVpymD3PciXsZNEfAa5xtq3xbwFBMpYAP9ewSIHTmRArYQi9WmRLFoAzWGm+hLAd+wvwEwmG1xXOdxqMI+Yh1IAUsYagBEGU9iPdvwjxVT9wlHU8AsxlosWBFyJMskHe1nuJoCriBetDkBOY1VxMSMJ06jeJ4CehCp1TWvGCcgc5hKgq/gGL6ngLgfwds2KVTYhFScycr216RM7G7hwS4hk3hU9K2S69sIVW36IeWxfmI6VdKqDHKnUNYnNbOe28UPJ5r8vizrpi/sxqVMo6JxMQAh1WtYyPoVovajqqRNgF224p9bxwF/AHpHSxka6Vc7AAAAAElFTkSuQmCC"/>                    <strong>Birthday: </strong> <span> 22nd December 1996</span>
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGVJREFUSEtjZKAxYKSx+QzYLPgPtZQqlg+oBeSE3gEGBgZHZI34fECOBSA9KGaOWoAtGEeDiGDiGg0ivEG0h4GBwZXYnDz0C7tRH4DjGj0YYLUZLCFQHEx0t4BgOUCqAoqDgJCFAGu0FhkHn7YTAAAAAElFTkSuQmCC"/>                    <strong>Nationality: </strong> <span>South African</span>
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAMJJREFUOE/V0zFqQlEQheHvIdYuQASt7G1sBDtbUcgmgjsIdiK4AHchKi5BEKytxCJNIBCwsEuRFPLkCioi9yWVt5oL5/ycGWYS/3zJjb+EjyzMS8AadQzQj4WcARW8B9MKjayAVD9CE0Ms/gJ45MmFVHvs8HMWX87ggALG6GGLKqYooxZMX2hhk/5jAPeSzdCNBXyjHRItQ5pPFGMBc3RCjLS9V/wiHwuY4CUA0h15C/Wp/ZgZPBEgdvmudLfXmBlyBMgDNRGp87W7AAAAAElFTkSuQmCC"/>                    <strong>LinkedIn:</strong>
                    <a
                      href="https://www.linkedin.com/in/thabiso-matsaba-b4289616b/"
                      ><i class="bx bxl-linkedin"></i
                    ></a>
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVxJREFUSEvt07FLVlEYx/GPkGCRY4KC0OgSDf4BLSKIS+GQg9AqSP0zLbXpYoKLi5sNgYRTTULkIoij2KAogijPy7lxuL73vecKTvXAgQvnd3/f8/zOeYY8cA09sL9/A/ASb/Aaj/E1W3/aIm6KKEzDMIzju6l2E2wH8X2nckCpaRMsusm7+x3CHHDT1m7H/Z53DpjGWyxisqNZLv+Cz/hWB+SiuQQL4EgB7ByfkvFBrm+bgzAPSKyA1ivM4rRhHpCBl1xt7mMTG/iV/RGxRXwBO0vGEUfUMBbwHjO4qP7r10F+2bH/EWH0vc8Bx7Cc1njaj1m57AKogIcJtI6nWEkdPaqB7w0ouOue5ElbRMeYSG5reFfqjFM8w/WgiOZTFKMdjCtp3Ee8qr/V9EyfYxWvCiFH+ICtur5tDl5gCbOYyobuBD/wE3vYxlXpHBQeukzW1kGZywDVf0BrhLdjpD4Z/bv/UAAAAABJRU5ErkJggg=="/>                    <strong>Degree: </strong>
                    <span
                      >National Diploma in ICT: Applications Development</span
                    >
                  </li>
                  <li>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAh5JREFUSEu11UmojmEUB/DfFdmQBZIsUeYiWShFlLAxlCFFCZlSkrFEMoQSyRB2hJJhw46FBUpExiJZWBiSBSlEOrfz1Xvf+w2vxT2b73ue53/O/znnOef/tulia+vi+FoR9MBszMBoDKXd5x2e4Cau4HejizYjmIaTGNIiy7dYiVv1cI0ItmB/3rZKFf9iKw6VwfUINuNAlah1MBtwpLhfJpiSqcZ+1HcZVmMHuuFN1ns44tb7cALHMC/3JuFujaRI0BPPMTgPd2Nn/o93+Ihvue6FgXid6+3Ym/9fYAz+xLpIsACXCulFqpFyFTuITQXgrKxAB4LzWFwATcS9KtHzxo8LFz6OdeUMojwjCmmOrBi8BnuIcbl4gAllgk/on4DrmPOfBBewKH2+oF+Z4AMGJOA2pv4nwQ3MTJ/v6F0meISxCYhu6dtMAkrkISmf0Sf3XyFaucMjn8HyguMKnK2YRWBPF7DnsKRMEDW/iq+IFKPPY/xDj340IIp5WJsDF4NYs/m4XCaImYhOGoTpWIWl+JU9vRA/M0KU5FriupfIX2JUTnUnuZ6b8vse43PwJmcWa0qBLiJIyxaViC5st3pidxTrU3/2NHmDXQUpqcEOY2PRp5Fch7iFFt3BUzzDqRJZnAeuZqHCleS65hCqGHoU0xnyHQ9etFDSbbifmhW/nazVJzPO45MZMh2ZFG1Y9no8dkNrRdDMt9JZlxP8A6W4Yxl3/dANAAAAAElFTkSuQmCC"/>                    <strong>GitHub: </strong>
                    <a href="https://github.com/220296006"
                      ><i class="bx bxl-github"></i
                    ></a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <strong>CV: </strong>
                    <a href="../assets/resources/Thabiso Matsaba Resume.pdf"
                      ><i class="bx bx-file"></i> Download</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              I am a results-oriented individual with a strong background in
              software development and a passion for learning new technologies.
              My skills include Java, Git/GitHub, Spring Boot, Angular, and
              more.
            </p>
            <p class="m-0">
              I have experience working as a Vocation Work Student at South
              African Radio and Astronomy Observatory (SARAO), where I honed my
              Angular and Python skills. I'm eager to contribute my skills and
              knowledge to exciting projects.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div #scrollToTopElement style="position: fixed; top: 0"></div>
  </body>
</html>