body {
    margin-top: 100px;
  }
  
  
  /* Define styles for generic sections */
  section {
    padding: 100px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f9f8ff;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #5846f9;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }


/* Apply styles to the "Portfolio Details" section */
.portfolio-details {
  padding: 60px 0;
}

/* Style the "Portfolio Details" section's title */
.portfolio-details h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.portfolio-details h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

/* Style the breadcrumbs section */
#breadcrumbs {
  background-color: #f7fcfc;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#breadcrumbs a {
  color: #3fbbc0;
  text-decoration: none;
}

/* Style the portfolio images */
.portfolio-details .portfolio-details-slider .swiper-slide img {
  max-width: 100%;
  height: auto;
}

/* Style the project information */
.portfolio-details .portfolio-info h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #3fbbc0;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
}

.portfolio-details .portfolio-info li {
  margin-bottom: 10px;
}

.portfolio-details .portfolio-info li strong {
  font-weight: bold;
  color: #3fbbc0;
}

/* Style the project description */
.portfolio-details .portfolio-description h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444444;
}

.portfolio-details .portfolio-description p {
  font-size: 16px;
  line-height: 1.6;
  color: #444444;
}

.container {
  text-align: left;
}

.portfolio-info h3 {
  text-align: left;
}

.portfolio-description {
  text-align: justify;
}

/* Add margin for better readability */
.portfolio-description p {
  margin-bottom: 10px;
}