<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="  border: 5px solid green;
">     
      <!-- Image  -->
      <section id="home">
        <div id="overlay"></div>
        <div class="image"></div>
        <div class="image-container" data-aos="fade-in" [@fadeInOut]="state" (@fadeInOut.done)="onAnimationDone($event)">
          <h1>Thabiso Matsaba</h1>
          <p>
            I'm
            <span class="typed" id="typed" data-typed-items=" a Software Developer, a Tech Geek, a Gamer"></span>
          </p>
        </div>
      </section>
</body>
</html>