<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio Details</title>
</head>

<body>
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfolio Details</h2>
        <ol>
          <li><a (click)="navigateToHome()">Home</a></li>
          <li><a (click)="navigatePortfolio()">Portfolio</a></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="assets/images/PharmacyApp.png" alt="Project 1" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/PharmacyApp-System-Design.drawio.png" alt="Project 2" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Home-PharmacyApp.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Users.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Customers.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Medications.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Prescriptions.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Invoices.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Inventory.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Create-User.png" alt="Project 3" />
              </div>
              <div class="swiper-slide">
                <img src="assets/images/Update-User.png" alt="Project 3" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project Information</h3>
            <ul>
              <li>
                <strong>Category</strong>: Full Stack Angular/Spring Web
                Application
              </li>
              <li><strong>Client</strong>: Personal Project</li>
              <li><strong>Project date</strong>: 01 March, 2023</li>
              <li>
                <strong>Project URL</strong>:
                <a href="#">www.pharmacyapp.com</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>Pharmacy App</h2>
            <b>1. Technology Stack</b>
            <br />
            <p>The Pharmacy App utilizes the following technology stack:</p>
            <br />
            <b>Backend</b>
            <br />
            <ol>
              <li>
                <a href="https://www.java.com" target="_blank" rel="noreferrer">
                  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
                    alt="java" width="40" height="40" /></a>Java 19
              </li>
              <li>
                <a href="https://spring.io/" target="_blank" rel="noreferrer">
                  <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg" alt="spring" width="40"
                    height="40" /> </a>Spring Boot framework
              </li>
              <li>
                <a href="https://www.mysql.com/" target="_blank" rel="noreferrer">
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                    alt="mysql" width="40" height="40" /> </a>MySQL Workbench Relational Database
              </li>
            </ol>
            <br />
            <b>Frontend</b>
            <br />
            <ol>
              <li>
                <a href="https://angular.io" target="_blank" rel="noreferrer">
                  <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="40"
                    height="40" />
                </a>
                Angular (TypeScript)
              </li>
              <li>
                <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
                    alt="bootstrap" width="40" height="40" /> </a>Bootstrap for responsive UI design
              </li>
              <li>
                <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                    alt="html5" width="40" height="40" /> </a>HTML for markup
              </li>
              <li>
                <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
                  <img
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                    alt="css3" width="40" height="40" /> </a>CSS for styling
              </li>
            </ol>
            <br />
            <b>2. Functional Requirements</b>
            <br />
            <p>
              The Pharmacy App includes the following functional requirements:
            </p>
            <br />
            <ul>
              <b>User Management</b>
              <li>Allow users to register and create an account.</li>
              <li>Enable users to log in and authenticate securely.</li>
              <li>
                Provide role-based access control to manage user permissions.
              </li>
              <br />
              <b>Customer Management</b>
              <li>
                Allow users to add, view, update, and delete customer records.
              </li>
              <li>
                Capture customer information, including name, contact details,
                and address.
              </li>
              <li>
                Associate customers with user accounts for tracking purposes.
              </li>
              <br />
              <b>Inventory Management</b>
              <li>
                Provide functionalities to add, view, update, and delete
                medication inventory.
              </li>
              <li>
                Capture medication details, including name, description,
                quantity, and price.
              </li>
              <li>
                Track medication stock levels and provide notifications for
                low inventory.
              </li>
              <br />
              <b>Prescription Management</b>

              <li>
                Enable users to create, view, update, and delete
                prescriptions.
              </li>
              <li>
                Capture prescription details, including customer information,
                doctor's name, andissuedate.
              </li>
              <li>
                Associate prescriptions with customers for easy reference.
              </li>
              <br />
              <b>Medication Management </b>

              <li>
                Allow users to add, view, update, and delete medications
                within prescriptions.
              </li>
              <li>
                Capture medication details, including name, dosage, and
                frequency.
              </li>
              <li>
                Track medications associated with specific prescriptions.
              </li>
              <br />
              <b>Invoice Management</b>

              <li>
                Provide functionalities to generate and manage customer
                invoices.
              </li>
              <li>
                Capture invoice details, including customer information,
                amount, due date, apayment status.
              </li>
              <li>
                Allow users to mark invoices as paid and track payment status.
              </li>
            </ul>
            <br />
            <b>3.Non-Functional Requirements</b>
            <br />
            <p>
              The Pharmacy App includes the following non-functional
              requirements:
            </p>
            <ul>
              <b>Performance</b>
              <li>
                The application should handle a large number of concurrent
                users withoutsignificant performance degradation.
              </li>
              <li>
                Database queries should be optimized to ensure fast and
                efficient data retrieval and updates.
              </li>
              <br />
              <b>Security</b>
              <li>
                User authentication and authorization should be implemented
                securely using industry best practices.
              </li>
              <li>
                User passwords should be stored securely using encryption
                techniques.
              </li>
              <li>
                User sessions should be managed securely to prevent
                unauthorized access.
              </li>
              <br />
              <b>Usability</b>

              <li>
                The user interface should be intuitive and user-friendly.
              </li>
              <li>
                Proper validation and error handling should be implemented to
                provide informative feedback to users.
              </li>
              <li>
                The application should be responsive and compatible with
                different devices andscreensizes.
              </li>
              <br />
              <b>Reliability</b>
              <li>
                The application should be highly reliable and available, with
                minimal downtime.
              </li>
              <li>
                Data integrity should be maintained, ensuring accurate and
                consistent informationstorageand retrieval.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</body>

</html>