header {
    width: 295px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #111; /* Adjust the background color as needed */
    padding: 15px; /* Adjust the padding as needed */
    z-index: 9997; /* Ensure navigation is above other content */
    transition: left 0.3s;

    left: -100%; 
    &.mobile-nav-active {
        left: 0; /* Show the header when mobile-nav-active */
      }
    
      @media (max-width: 1199px) {
        left: -100%; /* Hide the header by default for screens less than or equal to 1199px */
      }
}

header a {
    color: #fff; /* Adjust the link color as needed */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s; /* Add transition for smooth hover effect */
}

header a:hover {
    color: #fcfbfa; /* Adjust the link hover color as needed */
}



.bi-list {
    &.mobile-nav-active {
      .hamburger-icon {
        .bar:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }

/* Mobile Navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }

  mobile-nav-active .mobile-nav-toggle {
    transform: rotate(45deg); /* Adjust rotation as needed */
  }
  
  .mobile-nav-active #header {
    left: -100%; /* Hide the header when mobile-nav-active */
  }

  
#content {
    margin-left: 0px; /* Set the margin to the width of the sidebar */
    padding: 15px; /* Adjust the padding as needed */
    z-index: 1;
}

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 1em;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #f0f3f5;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: #149ddd;
}


.profile {
    position: relative;

    .profile-img {
        display: inline-block;
        border: 6px solid #273B4A; /* Backdrop outline color */
        border-radius: 50%;
        overflow: hidden;
        margin-left: 91px;


        img {
            width: 95px;
            height: 95px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    h1 {
        margin-top: 10px;
        font-size: 1.4rem;
        margin-left: 64px;
    }

    .social-links {
        margin-top: 5px;

        a {
            display: inline-block;
            padding: 5px;
            border: 2px solid #273B4A; /* Social icon outline color */
            border-radius: 50%;
            transition: 0.3s; /* Add transition for smooth hover effect */

            i {
                font-size: 24px;
                color: #eeeff0; /* Social icon color */
            }

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                background-color: #273B4A; /* Change background color on hover */
                i {
                    color: white; /* Change text color on hover */
                }
            }
        }
    }
}

/* Adjust footer styling */
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  background: #111; /* Same as navigation background color */
  margin-top: 273px;}

/* Adjust media query for small screens */
@media (max-width: 1199px) {
  #footer {
      position: static;
      width: auto;
      padding-right: 20px 15px;
  }
}
