<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
</head>

<body>
  <i class="bi mobile-nav-toggle d-xl-none" [ngClass]="{'bi-list': !showNav, 'bi-x': showNav}" (click)="toggleNav()">
  </i>
  <!-- ======= Header ======= -->
  <header id="header" [class.mobile-nav-active]="showNav">
    <div class="d-flex flex-column">

      <div class="profile">
        <div class="profile-img">
          <img src="assets/images/Thabiso.jpg" alt="Thabiso Matsaba" class=" rounded-circle">
        </div>
        <h1 class="text-light"><a href="index.html">Thabiso Matsaba</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/ThabisoMatsaba" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/thabiso.matsaba" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/shaun_matsaba" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/220296006" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/thabiso-matsaba-b4289616b" class="linkedin"><i
              class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar" [class.mobile-nav-active]="showNav">
        <ul>
          <li><a routerLink="/home" class="nav-link scrollto" (click)="smoothScrollTo('home')"><i
                class="bx bx-home"></i><span>Home</span></a></li>
          <li><a routerLink="/about" class="nav-link scrollto"  (click)="smoothScrollTo('about')"><i
                class="bx bx-user"></i><span>About</span></a></li>
          <li><a routerLink="/services" class="nav-link scrollto"  (click)="smoothScrollTo('services')"><i
                class="bx bx-server"></i> <span>Services</span></a></li>
                <li><a routerLink="/portfolio" class="nav-link scrollto"  (click)="smoothScrollTo('portfolio')"><i
                class="bx bx-book-content"></i><span>Portfolio</span></a></li>
          <li><a routerLink="/contact" class="nav-link scrollto"  (click)="smoothScrollTo('contact')"><i 
            class="bx bx-envelope" ></i> <span>Contact</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Thabiso Matsaba</span></strong>
        </div>
        <div class="credits">
    
        </div>
      </div>
    </footer>
  </header>
</body>

</html>