/* Global styles */
body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", sans-serif;
}


/* Media Queries */
// @media screen and (max-width: 767.98px) {
//   .about {
//     margin-bottom: 20px; /* Add bottom margin for the about section */
//   }

//   .services {
//     margin-top: 20px; /* Add top margin for the services section */
//     margin-left: 10px; /* Adjust left margin for smaller screens */
//     margin-right: 10px; /* Adjust right margin for smaller screens */
//   }

//   .row {
//     margin-left: 0; /* Reset left margin for the row */
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 991px) {
//   .about {
//     margin-bottom: 40px; /* Add bottom margin for the about section */
//   }

//   .services {
//     margin-top: 40px; /* Add top margin for the services section */
//     margin-left: 60px; /* Adjust left margin for tablets */
//     margin-right: 60px; /* Adjust right margin for tablets */
//   }

//   .row {
//     margin-left: 30px; /* Adjust left margin for the row */
//   }
// }

// @media screen and (min-width: 992px) {
//   .about {
//     margin-bottom: 60px; /* Add bottom margin for the about section */
//   }

//   .services {
//     margin-top: 60px; /* Add top margin for the services section */
//     margin-left: 115px; /* Adjust left margin for larger screens */
//     margin-right: 115px; /* Adjust right margin for larger screens */
//   }

//   .row {
//     margin-left: 106px; /* Adjust left margin for the row */
//   }
// }
